# compiled output
/dist
/node_modules
.env
.DS_Store
yarn.lock
main-project-leo-d52092bc7780.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
class/05-04-graphql-api-with-apollo-server-phone/.DS_Store
class/05-01-rest-api-with-frontend/backend/.DS_Store
homework/mini-project/webcrawler/.DS_Store
